.backfade {
    position: fixed; 
    display: block; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0,0,0,.8); 
    z-index: 2000;
}

.workbox {
    display: inline-block; 
    margin: 3em; 
    background: rgba(255,255,255,.8); 
    width: calc(100% - 6em);
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 90vh;
    padding: 0 0 4em 0;
}

  .workbox h2 {
      font-size: 3em; 
      color: black; 
      border-bottom: 4px solid black;
      
      display: inline-block; 
      margin: .5em; 
      font-weight: bold; 
      transition-property: transform; 
      transition-duration: 333ms; 
      transition-timing-function: ease-out; 
      transform: translateX(-20em);
      padding-left: .75em;
   }

     .workbox h2.rotatein {
         transform: translateX(0em);
     }
   
   .workbox h3 {
       font-size: 2em; 
       color: black; 
       display: block; 
       margin: 0em .8em .25em .8em; 
       transition-property: all; 
       transition-duration: 533ms; 
       transition-timing-function: ease-out; 
       transform: rotateX(90deg); 
       opacity: 0;
   }

     .workbox h3.rotatein {
         transform: rotateX(0deg);
         opacity: 1;
     }

     .workbox h3 span {
         text-shadow: none; 
         /*transition-property: all; 
         transition-duration: 2533ms;*/
     }

       .workbox h3.rotatein span {
           /*text-shadow: 1px 1px 1px gray, 2px 2px 1px black;*/
       }
   
   .workbox p {
       font-size: 1.5em;
       margin: 1em;
   }

   

   .workbox .frameholder {
       font-size: 2.5em;
       /*margin: 0 1.47em 0 0; 
       width: calc(100% - 2.94em);*/ 
       text-align: center;
       position: relative;
       overflow: hidden;
     }


     .workbox .frameholder iframe {
         width: 80%;
         display: inline-block;
         height: 20vh;
         background-color: rgba(0,0,0,.3)
     }

   .workbox ul {
       display: block;
       position: absolute;
       text-align: center;
       padding: 0;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       z-index: 1000;
   }
     .workbox ul li {
       display: inline-block;
       width: 25px;
       height: 25px;
       background-color: white;
       margin: 0 6px;
       border-radius: 50%;
       border: 2px solid black;
       transition-property: transform;
       transition-duration: 200ms;
       position: relative;
     }
       .workbox ul li:hover {
           transform: scale(1.3);
           background-color: gray;
       }

       .workbox ul li.selected {
           background-color: black;
       }

       .workbox ul .arrowback {
           border: none;
           border-radius: 0;
           background-color: transparent;
           transform: scale(1.3);
           top: .1em;
           left: 0;
           position: relative;
           display: inline-block;
           height: 1em;
           width: 1em;
           font-weight: bold;
           font-size: 2em;
           transform: translateY(-20%);
           cursor: pointer;
           transition-property: transform;
           transition-duration: 200ms;
       }

       .workbox ul .arrownext {
           border: none;
           border-radius: 0;
           background-color: transparent;
           transform: scale(1.3);
           top: .1em;
           right: 0;
           position: relative;
           display: inline-block;
           height: 1em;
           width: 1em;
           font-weight: bold;
           font-size: 2em;
           transform: translateY(-20%);
           cursor: pointer;
           transition-property: transform;
           transition-duration: 200ms;
       }
       .workbox ul .arrowback:hover, .workbox ul .arrownext:hover {
           transform: translateY(-30%);
       }


@media screen and (min-width: 1281px) {
    .workbox.tallbox p {
       width: 40%;
    }
     .workbox.tallbox .frameholder {
       font-size: 2.5em;
       margin: 0; 
       width: 55%; 
       text-align: center;
       position: absolute;
       top: 1.55em;
       right: 0;
       max-height: 70vh;
     }
     .workbox.tallbox .frameholder iframe {
         min-height: 40vh;
     }
}

@media screen and (max-width: 1280px) {
    .workbox {
        margin: 5px;
        width: calc(100% - 10px);
    }
    .workbox.tallbox .frameholder {
       font-size: 2.5em;
       margin: 0; 
       width: 55%; 
       text-align: center;
       position: absolute;
       top: 1.55em;
       right: 0;
       max-height: 70vh;
     }
    .workbox p {
        display: none;
    }
    .workbox h2 {
        font-size: 2.75em;
        padding: 10px;
        display: block;
        text-align: center;
        margin-top: 40px;
    }
      .workbox.tallbox h2 {
           margin-top: 30vh;
           margin-left: 10vw;
           display: inline-block;
           text-align: center;
           max-width: 40vw;
      }

    .workbox h3 {
        font-size: 2.25em;
        display: block;
        text-align: center;
        padding: 0;
    }
      .workbox.tallbox h3 { 
        margin-left: 10vw;
        text-align: left;
        max-width: 35vw;
      }
    .workbox h3:nth-child(n+3) {
        display: none;
    }

    .workbox .frameholder {
        margin: 0;
        width: 100%;
    }

}